html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.bg-dark {
  background-color: #343a40 !important; 
}

.navbar {
  background-color: #dc3545 !important; 
}

.navbar h1 {
  color: #ffc107;
}
.navbar button{
  width: 100px;
}

.flex-grow-1 {
  display: flex;
  flex-direction: column;
  overflow:auto;
  padding: 20px; 
}

.text-danger {
  color: #dc3545 !important;
}

.bg-warning {
  background-color: #ffc107 !important; 
}

.form-control {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da; 
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745; 
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745; 
}

.fixed-bottom {
  padding: 10px 20px; 
}

.nere button{
  width: 100px;
}




.msgList{
  list-style-type: none;
  display: block;

  padding-bottom: 20px; 
  margin-bottom: 0; 
  height: 100%;
}



.msgOther .resbubble {
  background-color: #765959; 
  color: white; 
  font-size: 16px; 
  padding: 10px 20px; 
  border-radius: 25px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  max-width: 80%; 
  word-wrap: break-word; 
  margin: 5px 0; 
  position: relative;
}



.msgYou{


  list-style: none;
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
}


.msgYou .bubble {
  background-color: #0078ff; 
  color: white; 
  font-size: 16px; 
  padding: 10px 20px; 
  border-radius: 25px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  max-width: 40%; 
  word-wrap: break-word;
  margin: 5px 0; 
  position: relative;
}

.senderName{
  display: block;
  color: #fff;
  margin-bottom: 1px;
  margin-left: 10px;
  font-weight: bold;
}


.msgOther{
  
  list-style: none;
  display: flex;
  /*justify-content: flex-start;*/
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1px;
}