html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.bg-dark {
  background-color: #343a40 !important;
}

.navbar {
  background-color: #343a40 !important;
}

.navbar h1 {
  color: #ffc107;
}

.navbar button {
  width: 100px;
}

.flex-grow-1 {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.text-danger {
  color: #dc3545 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.form-control {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  width: 80%;}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.typing-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
}

.msgList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.msgOther {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.msgOther .resbubble {
  background-color: #765959;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  word-wrap: break-word;
  margin: 5px 0;
  text-align: left;
}

.msgYou {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.msgYou .bubble {
  background-color: #0078ff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 40%;
  word-wrap: break-word;
  margin: 5px 0;
  text-align: left;
}

.senderName {
  display: block;
  color: #fff;
  margin-bottom: 1px;
  margin-left: 10px;
  font-weight: bold;
}

.chat-area {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 60px;
}

.chat-area::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.chat-area::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.chat-area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.chat-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.nere {
  padding: 10px 20px;
  width: 100px;
}

#tit{
  color: white;
  text-shadow:
    0 0 5px #741967,
    0 0 10px #fc10dc,
    0 0 15px #fc10dc,
    0 0 20px #fc10dc,
    0 0 25px #fc10dc,
    0 0 30px #fc10dc,
    0 0 35px #fc10dc;
}

#skriv{
  
  box-shadow:
    0 0 3px #b20dff,
    0 0 5px #b20dff,
    0 0 5px #b20dff,
    0 0 10px #b20dff,
    0 0 15px #b20dff,
    0 0 20px #b20dff,
    0 0 25px #b20dff;
}

#sendbtn{
  color: rgb(24, 238, 5);
  margin-left: 15px;
  width: 20%;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  font-size: 25px;
  box-shadow: 
    0 0 1px rgb(24, 238, 5),
    0 0 3px rgb(24, 238, 5),
    0 0 3px rgb(24, 238, 5),
    0 0 5px rgb(24, 238, 5),
    0 0 10px rgb(24, 238, 5),
    0 0 10px rgb(24, 238, 5),
    0 0 15px rgb(24, 238, 5);
}

.pls{
  color:rgb(228, 179, 18);
  
  width: 100%;
  box-shadow: 
    0 0 0.5px rgb(228, 179, 18),
    0 0 2px rgb(228, 179, 18),
    0 0 2px rgb(228, 179, 18),
    0 0 3px rgb(228, 179, 18),
    0 0 7px rgb(228, 179, 18),
    0 0 7px rgb(228, 179, 18),
    0 0 10px rgb(228, 179, 18);
}

.pls:hover{
  color: white;
  font-weight: bolder;
  background-color:rgb(228, 179, 18) ;
}